#contenedor {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    margin: auto;
    padding: auto;
}

header {
    background: #3789C8 url(../imagenes/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 100px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

h1 {
    padding: 10px;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    
    /* Cambia el tamaño según tus preferencias */
}

#h1Contrainccnedios {
    text-decoration: underline red;
    text-align: left;
    font-family: Helvetica;
    font-size: 14px;

}

#p1Contrainccnedios {
    text-align: left;
    font-family: Helvetica;
    font-size: 14px;
    width: 100%;
    height: 50%;
    /* Cambia el tamaño según tus preferencias */
}

#p1 {
    text-align: left;
    font-family: Helvetica;
    font-size: 14px;
    /* Cambia el tamaño según tus preferencias */
    margin: 2%;

}

#contenido {
    width: 100%;
    height: 100%;
    color: black;
}

#seccion {
    width: 30%;
    height: 30%;
    text-align: left;
    color: black;
    margin: auto;
    float: left;
}

div {
    margin: 5%;
}

#logo {
    /* width: 50%;
    height: 50%;
   background-color:aquamarine; */
    float: left;
    margin: auto;
    color: black;
}

#pie {
    clear: both;
    text-align: left;
    background-color: white;
    padding: 5px;
    color: black;
    font-family: Helvetica;
}

/* Aqui inicia el Nav */
/* menu */

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* items del menu */

#menu ul li {
    background-color: white;
}

/* enlaces del menu */

#menu ul a {
    border-color: transparent transparent #bbb;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 20px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 14px;

    /* Cambia el tamaño según tus preferencias */
    letter-spacing: 1px;
    margin: auto;
}

/* items del menu */

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;

}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background: aliceblue;
}

/* menu desplegable */

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

/* items del menu desplegable */

#menu ul ul li {
    float: none;
    width: 150px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
    font-family: Helvetica;
    font-size: 14px;
    /* Cambia el tamaño según tus preferencias */
    color: black;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover>ul {
    display: block;
}

/* Aqui termina el Nav */

/* Tablas */
table {
    border-collapse:  collapse;
    border-style: groove;
    border-radius: 4%;
    padding: 0.4em;
	margin: 0 0 1.5em;
	width: 100%;
}



th {
    border-style: groove;
	padding: 0.4em;
	text-align: left;
}

tr {
    
	border-bottom: 1px solid #eee;
}

td {
    border-collapse:  collapse;

    border-style: groove;
	padding: 0.4em;
}
