/* Header Inicio */
.header-inicio, .header-contraincendios, .header-motores , .header-hidroneumaticos{
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Herader de Blog */
.header-blog {
    background: black;
    background-size: cover;
    padding: 90px 50px 30px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Tienda */
.header-tienda {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Contacto */
.header-contacto {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Servicios */
.header-servicios {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Headers de Bombas */
.header-altamira {
    background: #3789C8 url(../imagenes/bombas/altamira/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-armstrong {
    background: #3789C8 url(../imagenes/bombas/armstrong/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-aurora {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-barmesa {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-franklin {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-grundfos {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-impel {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-jandy {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-mann {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-netzsch {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-pentar {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-scott {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-tsurumi {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-wdm {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-wilo {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-yamada {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-zoeller {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 150px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

#logo {
    float: left;
    margin: auto;
    color: black;
}

#pie {
    clear: both;
    text-align: left;
    background-color: white;
    padding: 5px;
    color: black;
    font-family: Helvetica;
}

/* Aqui inicia el Nav */
/* menu */

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* items del menu */

#menu ul li {
    background-color: white;
}

/* enlaces del menu */

#menu ul a {
    border-color: transparent transparent #bbb;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    padding: 20px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 14px;

    /* Cambia el tamaño según tus preferencias */
    letter-spacing: 1px;
    margin: auto;
}

/* items del menu */

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;

}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background: aliceblue;
}

/* menu desplegable */

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

/* items del menu desplegable */

#menu ul ul li {
    float: none;
    width: 150px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
    font-family: Helvetica;
    font-size: 14px;
    /* Cambia el tamaño según tus preferencias */
    color: black;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover>ul {
    display: block;
}

/* Aqui termina el Nav */

div, nav{
    font-family: Helvetica;
}

