/* Header Inicio
.header-inicio, .header-contraincendios, .header-motores , .header-hidroneumaticos{
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
} */

/* Headers de motores */
.header-motores{
    background:  url(../imagenes/motores/fondo.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Header contraincendios */
.header-contraincendios{
    background:  url(../imagenes/contraincendios/ABB/water.jpg) center center no-repeat;
    background-size: cover;
    padding: 100px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Blog */
.header-blog {
    background: #3789C8 url(../imagenes/blog/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Tienda */
.header-tienda {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Contacto */
.header-contacto {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
/* Herader de Servicios */
.header-servicios {
    background: #3789C8 url(../imagenes/inicio/wasteTreatment.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

/* Headers de Bombas */
.header-altamira {
    background: url(../imagenes/bombas/altamira/portada.jpg) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-armstrong {
    background:  url(../imagenes/bombas/armstrong/portada.jpg) no-repeat;
    background-position: center 50%;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-aurora {
    background:  url(../imagenes/bombas/aurora/portada.png) no-repeat;
    background-position: center 50%;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-barmesa {
    background: url(../imagenes/inicio/wasteTreatment.jpg) no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-franklin {
    background:  url(../imagenes/bombas/franklin/portada.png) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
.header-flygt {
    background: url(../imagenes/bombas/flygt/portada.png) no-repeat;
    background-position:center;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
.header-grundfos {
    background:  url(../imagenes/bombas/grundfos/portada.png) no-repeat;
    background-position: center 50%;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-impel {
    background:  url(../imagenes/bombas/impel/portada.png) no-repeat;
    background-position:center 50%;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-jandy {
    background: url(../imagenes/bombas/jandy/portada.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-mann {
    background: url(../imagenes/bombas/mann/portada.png) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-netzsch {
    background: center bottom no-repeat;
    background-size: cover;
    padding: 10px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-pentair {
    background: url(../imagenes/bombas/pentair/portada.png) no-repeat;
    background-position: center 50%;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}


.header-tsurumi {
    background: url(../imagenes/bombas/tsurumi/portada.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
.header-wilo-scot {
    background: url(../imagenes/bombas/wilo-scot/portada.png) center center no-repeat;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}
.header-wdm {
    background: url(../imagenes/bombas/wdm/portada.png) no-repeat;
    background-position: top;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

.header-zoeller {
    background: url(../imagenes/bombas/zoeller/portada.png) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 250px 70px 70px;
    margin: auto;
    font-size: 2.5rem;
    font-weight: 800;
}

#logo {
    float: left;
    margin: auto;
    color: black;
}

div, nav{
    font-family: Helvetica;
}
.nav-link{
    color: black;
}

/* Carrusel de imagenes  */

.carrusel{
    min-width: 70%;  
    max-width: 50%;
    margin: 0 auto; 
    max-height: 400px;
}

.carrusel img{
    height: 100%;
    width: auto; 
    width: 100%;
}
